{% extends "melody/base.html" %}
{% load crispy_forms_tags %}

{% block nav_item_login %}active{% endblock nav_item_login %}

{% block span_current_login %}
	<span class="sr-only">(current)</span>
{% endblock span_current_login %} 

{% block content %}

	  <div class="container">
	    <div class="row">
	      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
	        <div class="card card-signin my-5">
	          <div class="card-body">
	            <h5 class="card-title text-center">Log In</h5>
	            <form class="form-signin" method="POST">
	              {% csrf_token %}
	              {{ form|crispy }}
	              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log In</button>
	              <hr class="my-4">
	            </form>
	           	<div class="border-tp">
					<small class="text-muted">
						Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
					</small>
				</div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

{% endblock content %}